@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Azeret Mono", monospace;
}
p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}

/* nav bar section style starts here */
nav{
    width: 1140px;
    height: 60px;
    margin: 0 auto;
    margin-top: 20px;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-bar button{
    width: 228px;
    height: 58px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;

}
.nav-bar a{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    text-decoration: none;
}
/* nav bar section style ends here */

/* banner section style starts here */
.developer-container{
    width: 1440px;
    height: 652px;
    border: 2px dashed rgb(218, 202, 202);
    margin: 0 auto;
    margin-top: 30px;
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.developer-items{
    width: 998px;
    height: 582px;
    margin: 0 auto;
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.image-item{
    width: 240.28px;
    height: 240px;
}
.text-item{
    width: 998px;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.text-item h1{
    width: 998px;
    height: 136px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 40px;
    font-weight: 800;
    line-height: 68px;
}
.text-item p{
    line-height: 30px;
}
.text-item button{
    width: 208px;
    height: 66px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 10px;
}
/* banner section style ends here */



/* why web development section style starts here */
.web-dev-container{
    width: 1140px;
    height: 1395px;
    margin: 0 auto;
    margin-top: 74px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.web-dev-items{
    width: 946px;
    height: 1235px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.web-dev-text{
    width: 852px;
    height: 115px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.main-box{
    width: 946px;
    height: 1072px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.web-dev-text h1, .head{
    font-size: 32px;
}
.cause{
    width: 946px;
    height: 336px;
}
.web-dev-items .box-1{
    width: 850px;
    height: 240px;
    margin: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.box-1-text{
width: 477px;
height: 220px;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: start;

}
.box-1-text h3{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
}
.box-1-text button{
    width: 150px;
    height: 48px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;  
    font-size: 20px;
    font-weight: 600;
}
.box-1-img{
    width: 274.17px;
    height: 240px;
}
.box-1-img img{
    width: 259.56px;
    height: 217.01px;
}

.web-dev-items .box-2{
    width: 850px;
    height: 240px;
    margin: 48px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-radius: 16px;
   background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.box-2-text{
    width: 477px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-right: 100px;
}
.box-2-text h3{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
}
.box-2-text button{
    width: 150px;
    height: 48px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;  
    font-size: 20px;
    font-weight: 600;
}
.box-2-img{
    width: 240px;
    height: 240px;
}
.box-2-img img{
    width: 223.2px;
    height: 208.85px;
}
.web-dev-items .box-3{
    width: 850px;
    height: 240px;
    margin: 48px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-radius: 16px;
   background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.box-3-text{
    width: 477px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.box-3-text h3{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
}
.box-3-text button{
    width: 150px;
    height: 48px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;  
    font-size: 20px;
    font-weight: 600;
}
.box-3-img{
    width: 240px;
    height: 240px;
}
.box-3-img img{
    width: 206.4px;
    height: 187.32px;
    margin-left: 16px;
    margin-top: 26px;

}
/* why web development section style ends here */



/* inspiretion sectoin style starts here */
.video{
    width: 1140px;
    height: 775px;
    margin: 0 auto;
    margin-top: 88px;

}
.video-text{
    width: 852px;
    height: 113px;
    text-align: center;
    margin: 0 auto;

}
.video-container{
    width: 1140px;
    height: 614px;
    margin-top: 48px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* inspiretion section style ends here */



/* current target section style starts here */
.current-target{
    width: 1140px;
    height: 460px;
    margin: 0 auto;
    margin-top: 151px;
}
.target-text{
    width: 946px;
    height: 113px;
    text-align: center;
    margin: 0 auto;
}
.target-items{
    width: 1140px;
    height: 299px;
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.target-box-1{
    width: 364px;
    height: 299px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
.target-box-2{
    width: 364px;
    height: 299px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
.target-box-3{
    width: 364px;
    height: 299px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}
.target-column img{
    width: 64px;
    height: 64px;
}
.target-column{
    width: 284px;
    height: 219px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.target a, .anchor{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
}
/* current target section style ends here */


/* next target section style starts here */
.next-target{
    width: 1140px;
    height: 866px;
    margin: 0 auto;
    margin-top: 111px;
}
.next-target-text{
    width: 946px;
    text-align: center;
    margin: 0 auto;

}
.next-target-items{
    width: 1140px;
    height: 705px;
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.nxt-1{
    width: 1140px;
    height: 219px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.nxt-2{
    width: 1140px;
    height: 219px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);

}
.nxt-3{
    width: 1140px;
    height: 219px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.next-row{
    width: 1060px;
    height: 139px;
    display: flex;
    align-items: center;
    margin: 40px;
}
.png-1 img{
    width: 94.78px;
    height: 84.41px; 
    margin-top: 27.3px;
}
.png-2 img{
    width: 143.51px;
    height: 88px; 
    margin-top: 25.5px;
}
.png-3 img{
    width: 108px;
    height: 108px;
    margin-top: 15.5px;
}
.png-1{
    width: 118.78px;
    height: 139px;
}
.png-2{
    width: 167.51px;
    height: 139px;
}
.png-3{
    width: 132px;
    height: 139px;
}
.texter-1{
    width: 941.22px;
    height: 139px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.texter-2{
    width: 892.49px;
    height: 139px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.texter-3{
    width: 928px;
    height: 139px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* next target section style ends here */



/* i need support section style starts here */
.support-section{
    width: 1140px;
    height: 314px;
    margin: 0 auto;
    margin-top: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background-image: url(../assets/handshake.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.support-container{
    width: 1044px;
    height: 186px;
}
.support-text{
    width: 730px;
    height: 104px;
    color: white;
    margin: 0 auto;
    text-align: center;

}
.support-text h1{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
}
.support-text p{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}
.support-btn{
    margin-left: 180px;
    margin-top: 24px;

}
.support-btn input{
    width: 548px;
   height: 57px;
   box-sizing: border-box;
   border: 1px solid rgba(13, 19, 33, 0.15);
   border-radius: 8px;
   background: rgb(255, 255, 255);
   font-size: 16px;
   padding-left: 20px;
}
.support-btn button{
    width: 120px;
    height: 58px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: rgb(255, 255, 255);
}
/* i need support section style ends here */